body,
html,
h1 {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One';
  font-size: 22px;
}

h1 {
  color: white;
  font-size: 4rem;
  text-align: center;
}

section {
  height: 100vh;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

th {
  height: 25px;
}

tbody tr:nth-child(odd) {
  background-color: #dcdcdd;
}

fieldset {
  background-color: #ffffff;
  border: 3px solid black;
  opacity: 0.9;
  padding: 50px;
  margin: 15px;
}

.center {
  display: table;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.box {
  background-color: #ffffff;
  border: 3px solid black;
  opacity: 0.9;
  padding: 50px;
  margin: 15px;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.bmi-value {
  background-color: yellow;
  display: grid;
  grid-template-rows: 25% 25%;
}

.bmi-status {
  background-color: green;
  display: grid;
  grid-template-rows: 20% 20%;
}


input[type=text], select {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.Home {
  background-image: url("C:/Users/Devon Biancarelli/Desktop/Capstone Project/HTML/Images/Gpullup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.AboutUs {
  background-image: url("C:/Users/Devon Biancarelli/Desktop/Capstone Project/HTML/Images/Wrunning.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}

.ContactUs {
  background-image: url("C:/Users/Devon Biancarelli/Desktop/Capstone Project/HTML/Images/Weights.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.Workouts {
  background-image: url("C:/Users/Devon Biancarelli/Desktop/Capstone Project/HTML/Images/FoodDiet.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.History {
  background-image: url("C:/Users/Devon Biancarelli/Desktop/Capstone Project/HTML/Images/WorkoutHist.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
